#container {
	width: 900px;
	margin: 0 auto;
	text-align: center;
}

#subfolders {
	margin-top: 10px;
}

.subfolder {
	display: block;
	border: 1px solid black;
}

#messages {
	margin-top: 10px;
}

.message {
	display: block;
	border: 1px solid black;
}